body {
    background-color: rgb(70, 70, 70);
    margin: 0px;
}

#menu {
    height: 40vh;
    display: flex;
    align-items: center;
}

.menu-item {
    color: antiquewhite;
    font-size: clamp(3rem, .75vw, 8rem);
    font-family: 'Exo';

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease, translate 400ms ease;

}

.web-title{
    color: antiquewhite;
    font-size: clamp(3rem, .75vw, 8rem);
    font-family: 'Exo';

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
}

#menu-items {
    margin-left: clamp(4rem, 3.5vw, 48rem);
    position: relative;
}

#menu-items:hover>.menu-item {
    opacity: 0.3;
    translate: 0px;
}

#menu-items:hover>.menu-item:hover {
    opacity: 1;
    translate: 10px;
}

hr.solid {
    border-top: 3px solid ;
    color: antiquewhite;
  }
