@font-face {
  font-family: "raleway";
  src: url(stylesheets/fonts/static/Raleway-Italic-VariableFont_wght.ttf) format(truetype);
}

body {
  margin: 0px;
  background-color: rgb(18, 22, 26);
  font-family: "raleway", sans-serif;
  color: white;
}

header {
  background-image: url('assets/copywrite_rochester.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FF5F1F;
  background-blend-mode: color-burn;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  margin: 0;
}

.headline-text {
  color: white;
  font-size: 48px;
  text-align: center;
  font-weight: normal;
}

.phone-image{
  width: 100%;
  height: auto;
  min-width: 500px;
}

.buisness-content{
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  margin: 10%;
  align-items: center;
}

.buisness-text{
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.buisness-text, h1{
  font-size: 40px;
  font-weight: normal;
}

.buisness-text, h2{
  font-weight: normal;
  font-size: 24px;
}